#container{
	width: 1000px;
	margin: auto;
    border: 1px solid #000000;
}

.clear{
	clear: both;
}
p, ul ,li{
    font-family: "Helvetica", Times, serif;
}

h1, h2, h3{
    font-family: "Helvetica", Times, serif;
}
#header{
	background-color: #fff2e6;
}

.navFont{
    font-family: "Courier New", Times, serif;
}
#header img{
	float: left;
	width: 15%;
	padding: 10px;
}

#header a{
	color: #663300;
	text-decoration: none;
}

#header a.activePage{
	color: #006600;
}
#header ul li.lastNavItem{
	border-right: none;
	border: none;
}

#header ul{
	float: right;
	list-style-type: none;
}

#header ul li{
	padding: 10px;
	text-transform: uppercase;
	border-right: 1px solid #ff9900; 
	float: left;
}

#footer{
	background-color: #fff2e6;
    height: 50px
}

.lastNavItem.navFont{
    font-family: "Courier New", Times, serif;
    border-right: none;
	border: none;    
}