#container{
	width: 1000px;
	margin: auto;
}
#header img{
	width: 10%;
}
#header a{
	color: #FFFFFF;
	text-decoration: none;
}
#header a.active{
	color: #AAAAAA;
}

#header ul{
	list-style-type: none;
	
}

#header ul li{
	float: left;
}

#footer{
}
