#container{
	width: 1000px;
	margin: auto;
    border: 1px solid #000000;
}

.clear{
	clear: both;
}

#header{
	background-color: #fff2e6;
}
#header img{
	float: left;
	width: 15%;
	padding: 10px;
}

#header a{
	color: #663300;
	text-decoration: none;
}

#header a.activePage{
	color: #006600;
}
#header ul li.lastNavItem{
	border-right: none;
	border: none;
}

#header ul{
	float: right;
	list-style-type: none;
}

#header ul li{
	padding: 10px;
	text-transform: uppercase;
	border-right: 1px solid #ff9900; 
	float: left;
}

#footer{
	background-color: #fff2e6;
    height: 50px
}
