img.mainHeroImage{
	width: 100%;
}

h1{
    text-align: center;
    color:#663300;
    margin:5px
}

p{
    margin:0;
    text-align: left;
}
.oneThirdColumn{
    width: 32.333333333%;
    float: left; 
}

.oneThirdColumn ul li{
    list-style-type: none;
    margin: 0x;
    padding: 0px;
}

.oneThirdColumn ul{
    margin: 0x;
    padding: 0px;
}


.fullpadding{
    padding: 0px 15px;
    border-right: 1px solid #000000;
       
}

.lastColumn{
    border: none;
    padding: 0px 15px;
}

.lastColumn ul{
    margin: 0x;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}
.oneHalfColumn{
    width: 50%;
    float: left;
    text-align: center;
}
.oneHalfColumn ul {
  padding: 0px
    
}

.oneHalfColumn ul li{
    text-align: left;
    list-style-type: disc;
    margin: 0px 0px 0px 10px
    
}

.oneHalfColumn .questions{
    text-align: left;
    list-style-type: none;
    margin-bottom: 5px;
    color:#CD6600;
   
}

.oneHalfColumn .answers{
    text-align: left;
    margin-bottom: 10px;
   
}

.oneHalfColumn a{
    color:#CD6600;
    text-decoration: none;
   
}

.importantText{
    color:#006600;
}
.importantLink{
    color:#CD6600;
    text-decoration: none;
}